
.add-user-form .input-field input {
  width: 100%;
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 8px 12px;
}

.add-user-form .input-field input {
  width: 300px;
}

.add-user-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#add_user_modal,
#edit_user_modal {
  flex-direction: column;
}

#add_user_modal .btn-container, 
#edit_user_modal .btn-container {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}

#add_user_modal .btn-container button, 
#edit_user_modal .btn-container button {
  font-size: 0.9rem;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: none;
}

#add_user_modal .btn-container button[type='button']:hover,
#edit_user_modal .btn-container button[type='button']:hover {
  background-color: #c6c2c2;
}

#add_user_modal .btn-container button[type='submit'],
#edit_user_modal .btn-container button[type='submit'] {
  background-color: var(--primary-color);
  color: white;
}

#add_user_modal .btn-container button[type='submit']:hover,
#edit_user_modal .btn-container button[type='submit']:hover {
  background-color: var(--dark-primary-color);
}

#confirm_password_modal {
  width: 400px;
}

#confirm_password_modal h2 {
  margin: 0px;
}

#confirm_password_modal .btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.table-container {
  overflow-x: auto; /* Allow horizontal scrolling if the table overflows */
}

.flavor-tbl {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}



@media (max-width: 1024px) {
  .table-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .flavor-tbl {
    display: grid;
    grid-template-columns: 1fr;
    border: none;
  }

  .flavor-tbl thead {
    display: none; /* Hide table header */
  }

  .flavor-tbl tbody {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .flavor-tbl tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    padding: 10px;
  }

  .flavor-tbl td {
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 5px 10px;
  }

  .flavor-tbl td:first-child {
    font-weight: bold;
  }
}

@media (max-width: 896px) {
  .table-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .flavor-tbl {
    display: grid;
    grid-template-columns: 1fr;
    border: none;
  }

  .flavor-tbl thead {
    display: none; /* Hide table header */
  }

  .flavor-tbl tbody {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .flavor-tbl tr {
    display: grid;
    grid-template-columns: 1fr;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    padding: 10px;
  }

  .flavor-tbl td {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border: none;
  }

  .flavor-tbl td:first-child {
    font-weight: bold;
  }

  .actions-container {
    flex-wrap: wrap; /* Wrap buttons for smaller widths */
    gap: 5px;
    justify-content: space-between;
  }
}

@media (max-width: 425px) {
  .table-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .flavor-tbl {
    display: grid;
    grid-template-columns: 1fr;
    border: none;
  }

  .flavor-tbl thead {
    display: none; /* Hide table header */
  }

  .flavor-tbl tbody {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .flavor-tbl tr {
    display: grid;
    grid-template-columns: 1fr;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    padding: 10px;
  }

  .flavor-tbl td {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border: none;
  }

  .flavor-tbl td:first-child {
    font-weight: bold;
  }

  .actions-container {
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
  }
}

@media (max-width: 375px) {
  .table-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .flavor-tbl {
    display: grid;
    grid-template-columns: 1fr;
    border: none;
  }

  .flavor-tbl thead {
    display: none; /* Hide table header */
  }

  .flavor-tbl tbody {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .flavor-tbl tr {
    display: grid;
    grid-template-columns: 1fr;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    padding: 8px;
  }

  .flavor-tbl td {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: none;
  }

  .flavor-tbl td:first-child {
    font-weight: bold;
  }

  .actions-container {
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
  }
}
