main {
  gap: 20px;
  padding: 12px 8px 24px 0px;
  max-width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 245px);
}

main .grid-item {
  background-color: red;
  box-shadow: var(--shadow);
  border-radius: 8px;
  background-color: white;
}

main .grid-item:nth-child(1) {
  grid-column: 1 / 5;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main .grid-item:nth-child(1) .h1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .grid-item:nth-child(1) .h1-container .toggles-container {
  display: flex;
  gap: 12px;
}

main .grid-item:nth-child(1) .h1-container .toggles-container button {
  background-color: transparent;
  padding: 0px 2px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.397);
  color: rgba(0, 0, 0, 0.397);
  
  transition: all 0.2s;
}

main .grid-item:nth-child(1) .h1-container .toggles-container button:hover {
  cursor: pointer;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color  );
}

main .grid-item:nth-child(1) .h1-container .toggles-container button.selected {
  font-weight: 700;
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

main .grid-item:nth-child(1) .chart-container {
  flex: 1;
}

main .grid-item:nth-child(2) {
  grid-column: 5 / 6;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main .grid-item:nth-child(2) .flavor-container {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main .flavor-container .flavor {
  width: 100%;
  height: 15%;
  background-color: var(--primary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  transition: all 0.3s;
}

main .flavor-container .flavor:hover {
  background-color: var(--dark-primary-color);
}

main .grid-item:nth-child(3) {
  grid-column: -4 / -6;
  grid-row: span 2;
}



main .grid-item:nth-child(4) {
  grid-column: -1 / -4;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: max-content;
}

.ingredient-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
}

.ingredient-container table thead tr {
  background-color: var(--primary-color);
  color: white;
}

.ingredient-container table th,
.ingredient-container table td {
  padding: 12px;
  text-align: center;
}

.ingredient-container table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.ingredient-container table thead tr:hover {
  background-color: var(--dark-primary-color);
}

.ingredient-container table tbody tr:hover {
  background-color: #c6c2c2;
}