main {
  gap: 20px;
  padding: 12px 8px 24px 0px;
  max-width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 245px);
}

main .grid-item {
  box-shadow: var(--shadow);
  border-radius: 8px;
  background-color: white;
  grid-row: span 2;
}

main .sales-stats-container {
  grid-column: 1 / 5;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main .sales-stats-container .h1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .sales-stats-container .h1-container .toggles-container {
  display: flex;
  gap: 12px;
}

main .sales-stats-container .h1-container .toggles-container button {
  background-color: transparent;
  padding: 0px 2px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.397);
  color: rgba(0, 0, 0, 0.397);
  
  transition: all 0.2s;
}

main .sales-stats-container .h1-container .toggles-container button:hover {
  cursor: pointer;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color  );
}

main .sales-stats-container .h1-container .toggles-container button.selected {
  font-weight: 700;
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

main .sales-stats-container .chart-container {
  flex: 1;
}


main .top-selling-flavor-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-column: span 2;
}

main .top-selling-flavor-container .flavor-container {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main .flavor-container .flavor {
  width: 100%;
  height: 15%;
  background-color: var(--primary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  transition: all 0.3s;
}

main .flavor-container .flavor:hover {
  background-color: var(--dark-primary-color);
}

main .sales-amount-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

main .sales-amount-container .amount-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main .sales-amount-container .amount-container > div {
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
}

.amount-container > div > h2,
.amount-container > div > p {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%; /* Ensures text doesn’t expand beyond container */
  overflow-wrap: break-word; /* Breaks text if it's too long */
  white-space: normal; /* Prevents text from overflowing */
  text-align: center;
}

.amount-container > div > h2 {
  font-size: 1.3rem;
  color: rgb(161, 159, 159);
  text-align: left;
}

.amount-container > div > p {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}


main .low-stock-ingredients-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-column: span 3;
}

.ingredient-container {
  flex: 1;
  overflow: auto;
}

.ingredient-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
}

.ingredient-container table thead tr {
  background-color: var(--primary-color);
  color: white;
}

.ingredient-container table th,
.ingredient-container table td {
  padding: 12px;
  text-align: center;
}

.ingredient-container table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.ingredient-container table thead tr:hover {
  background-color: var(--dark-primary-color);
}

.ingredient-container table tbody tr:hover {
  background-color: #c6c2c2;
}

main .quick-controls-container {
  margin-top: 1.2rem;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-content: end;
}

.quick-controls-container .quick-cotrols-btn-container {
  flex: 1;
  display: flex;
  gap: 20px;
  border-radius: 8px;
}

.quick-cotrols-btn-container .quick-control-btn {
  flex: 1;
  background-color: f1f1f1;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  align-items: center;
  padding: 0px 20px;
  gap: 12px;
  text-align: left;
}

.quick-cotrols-btn-container .quick-control-btn:hover {
  background-color: var(--dark-primary-color);
}

.quick-cotrols-btn-container .quick-control-btn .icon-container {
  width: 50px;
}

.quick-control-btn .icon-container svg {
  max-width: 100%;
}

.quick-cotrols-btn-container .quick-control-btn p {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  flex: 1;
}

#myChart {
  max-height: 100%;
}

#add_stock_modal {
  flex-direction: column;
}

#add_stock_modal > h2 {
  margin-bottom: 12px;
}

.add-stock-form .text-field input,
.add-stock-form .text-field select {
  width: 100%;
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 8px 12px;
}

.add-stock-form .btn-container {
  width: 100%;
  grid-column: 2 / -1;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 8px;
}

.add-stock-form .btn-container button {
  width: 100%;
  font-size: 0.9rem;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.add-stock-form .btn-container button[type='button']:hover {
  background-color: #c6c2c2;
}

.add-stock-form .btn-container button[type='submit'] {
  background-color: var(--primary-color);
  color: white;
}

.add-stock-form .btn-container button[type='submit']:hover {
  background-color: var(--dark-primary-color);
}

.add-stock-form {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 16px;
}

.add-stock-form .text-field:nth-child(1) {
  grid-column: span 2;
}

.add_order_modal {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 16px 32px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  transition: all 0.3s ease-out;
  display: flex;
  gap: 32px;
  background-color: transparent;
  display: none;
}

dialog .add-order-form {
  width: 700px;
  display: flex;
  gap: 20px;
}

dialog .add-order-form .customer-info,
dialog .add-order-form .order-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

dialog .add-order-form .customer-info > div,
dialog .add-order-form .order-info > div {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

#add_order_modal form {
  background-color: white;
  padding: 16px 32px;
  border-radius: 8px;
}

#add_order_modal .upcomming-order-div {
  width: 300px;
  max-width: 300px;
  background-color: white;
  padding: 16px 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


#add_order_modal .upcomming-order-div .upcomming-order-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  border-radius: 8px;
  flex: 1;
  padding: 0px 8px;
  max-height: 363px;
}

.upcomming-order-container .order {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: none;
  padding: 16px;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.3s;
}

.upcomming-order-container .order:hover {
  background-color: var(--dark-primary-color);
}

.upcomming-order-container .order button {
  border-radius: 90px;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  color: white;
}

.upcomming-order-container .order button:hover {
  font-weight: 700;
}

.add-order-form .input-field input,
.add-order-form .input-field select {
  width: 100%;
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 8px 12px;
}

.add-order-form .btn-container {
  padding-top: 12px;
  width: 100%;
  grid-column: 2 / -1;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 8px;
  flex: 1;
}

.add-order-form .btn-container button,
.upcomming-order-div .btn-container button {
  font-size: 0.9rem;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: none;
}

.add-order-form .btn-container button[type='button']:hover {
  background-color: #c6c2c2;
}

.add-order-form .btn-container #add_order_btn,
.upcomming-order-div .btn-container button {
  background-color: var(--primary-color);
  color: white;
}

.add-order-form .btn-container #add_order_btn:hover {
  background-color: var(--dark-primary-color);
}

.upcomming-order-div .btn-container #confirm_orders {
  font-size: 1.3rem;
}

.datetime-field {
  display: flex;
  gap: 8px;
}

.datetime-field input:nth-child(1) {
  flex: 2;
}

.datetime-field input:nth-child(2) {
  flex: 1;
}

#recent_orders_modal {
  width: fit-content;
  max-height: 600px;
  flex-direction: column;
  gap: 8px;
}

#recent_orders_modal .table-container {
  max-height: 500px;
  overflow: auto;
  padding-right: 8px;
}

#recent_orders_modal table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

#recent_orders_modal .button-container {
  display: flex;
  justify-content: end;
  margin-top: 8px;
}

#add_flavor_modal {
  flex-direction: column;
}

.add-flavor-form .text-field input,
.add-flavor-form .text-field select{
  width: 100%;
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 8px 12px;
}

.add-flavor-form {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 16px;
}

.add-flavor-form .text-field:nth-child(1) {
  grid-column: span 2;
}

.add-flavor-form .btn-container {
  padding-top: 16px;
  width: 100%;
  grid-column: 2 / -1;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 8px;
}

.add-flavor-form .btn-container button {
  width: 100%;
  font-size: 0.9rem;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.add-flavor-form .btn-container button[type='submit'] {
  background-color: var(--primary-color);
  color: white;
}

.add-flavor-form .btn-container button[type='submit']:hover {
  background-color: var(--dark-primary-color);
}

.add_flavor_modal > h2 {
  margin-bottom: 12px;
}