@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  font-weight: 16px;
  font-family: Arial;
  --shadow: 4px 4px 12px rgb(0, 0, 0, 0.10);
  --inverted-shadow: -4px 4px 12px rgb(0, 0, 0, 0.10);
  
  --primary-color: #334259;
  --dark-primary-color: #243041;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  height: 100dvh;
  width: 100%;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.grid-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease;
  overflow: auto;
}

.grid-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15), 
              0 2px 8px rgba(0, 0, 0, 0.05);
}

table th {
  font-weight: 700;
}

table td {
  font-weight: 500;
}