

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 16px;
}

main .btn-container {
  grid-column: 1 / 4;
}

main .ingredients-container,
main .restock-container {
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 8px;
}

main .ingredients-container {
  grid-column: 1 / 4;
  grid-row: 2 / -1;
}

main .restock-container {
  grid-column: span 2;
  grid-row: 1 / -1;
}


main .btn-container {
  display: flex;
  gap: 12px;
  padding: 16px 0px 0px;
}

main .btn-container button {
  flex: 1;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
}

main .ingredients-container {
  padding: 10px 20px;
  color: var(--primary-color);
}

main .ingredients-container .tables {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table-container {
  flex: 1;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 8px;
}

main .ingredients-container h2 {
  margin-bottom: 12px;
}

.ingredients-tbl {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.ingredients-tbl thead tr {
  background-color: var(--primary-color);
  color: white;
}

.ingredients-tbl thead tr:hover {
  background-color: var(--dark-primary-color);
}

.ingredients-tbl tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.ingredients-tbl tbody tr:hover {
  background-color: #c6c2c2;
}

.ingredients-tbl tr th,
.ingredients-tbl tr td {
  padding: 8px 12px;
  text-align: center;
}

.modal {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 16px 32px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal h2 {
  margin-bottom: 12px;
}

.new-ingredient-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
}

.new-ingredient-form .text-field:nth-child(1) {
  grid-column: span 2;
}

.new-ingredient-form .text-field input,
.new-ingredient-form .text-field select,
.add-stock-form .text-field input,
.add-stock-form .text-field select {
  width: 100%;
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 8px 12px;
}

.new-ingredient-form .btn-container,
.add-stock-form .btn-container {
  margin-top: 8px;
  width: 100%;
  grid-column: 2 / -1;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 8px;
}

.new-ingredient-form .btn-container button,
.add-stock-form .btn-container button {
  font-size: 0.9rem;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.new-ingredient-form .btn-container button[type='button']:hover {
  background-color: #c6c2c2;
}

.new-ingredient-form .btn-container button[type='submit'] {
  background-color: var(--primary-color);
  color: white;
}

.new-ingredient-form .btn-container button[type='submit']:hover {
  background-color: var(--dark-primary-color);
}



.add-stock-form {
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 9px;
}

.add-stock-form .text-field:nth-child(1) {
  grid-column: span 2;
}


.edit-ingredient-btn, 
.delete-ingredient-btn {
  margin: 0px 4px;
  background-color: var(--primary-color);
  border-radius: 4px;
  bordeR: none;
  color: white;
  padding: 4px 8px;
  font-size: 0.9rem;
}

.delete-ingredient-btn {
  background-color: rgb(205, 15, 15);
}

.ingredient-operation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}