
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

/* 
.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
   height: 100%;
  background-image: url('../images/Scoops-kinds-ice-cream.webp');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
  background-color: var(--primary-color);
} */

form {
  background-color: white;
  border-radius: 8px;
  box-shadow: 8px 8px 8px rgb(0, 0, 0, 0.3);
  padding: 20px 24px;
}

form h1 {
  font-weight: bold;
  margin-bottom: 16px;
}

.field {
  margin: 8px 0px;
}

form input[type="text"],
form input[type="password"] {
  margin-top: 4px;
  font-size: 0.9rem;
  padding: 8px 16px;
  width: 440px;
  border: 0.5px solid rgb(174, 171, 171);
  border-radius: 4px;
  outline: none;
}

form .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

form .error-msg {
  color: red;
  font-size: smaller;
  font-weight: 500;
}

form button {
  margin: 16px 0px 8px;
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 32px;
  font-size: 1.3rem;
  border-radius: 8px;
  border: 1px solid rgb(41, 42, 52);
  transition: all 0.3s;
}

form button:hover {
  color: rgb(41, 42, 52);
  background-color: white;
  border: 1px solid rgb(41, 42, 52);
}

.forgot-password-a {
  display: block;
  text-align: center; 
  margin-top: 12px; 
  font-size: 1.05rem;
  transition: all 0.3s;
  cursor: pointer;
}

.forgot-password-a:hover {
  color: var(--dark-primary-color);
  text-decoration: underline;
}